.awardsSection{
    padding: 90px 0;
    overflow: hidden;
    background-color: primaryColor(blackColor);
    & .container{
        position: relative; right: 100%;
    }
    .awards{
        font-family: fontFamily(quartoRegular);
        font-size: fontSize(fontSize50);
        color: primaryColor(whiteColor);
    }
    .awards{
        max-width: 200px;
    }
    .w3{
        max-width: 184px;
        display: inline-block;
    }
    .awwwards{
        max-width: 134px;
        display: inline-block;
    }
    .communicator{
        max-width: 183px;
        display: inline-block;
    }
    @include smMax{
        .mob--sm{
            min-height: 120px;
        }
    }
    
}