.d-flex.flex-flow{
  flex-flow:row!important
}
/**banner css start here**/
.banner_img {
  width: 100%;
  height: 100vh;
  position: relative;
  figure{
    height: 100vh;
    margin: 0;
  }
  .img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    
  }
  .banner_img_desc_wrap{
    width:100%;
    position: absolute;
    bottom:0;
    left: 0;
    .banner_img_desc{
      color: primaryColor(whiteColor);
      padding-bottom: 115px;
      @include mdMinMax{
        padding-bottom: 80px;
      }
      @include smMax {
        padding-bottom: 55px;
      }
    }
    h1{
      font-size: fontSize(fontSize60);
      line-height: 60px;
      font-family: fontFamily(quartoLight);
      font-weight: 300;
       color: primaryColor(whiteColor);
       @include smMax {
        font-size: fontSize(fontSize34);
        line-height: 42px;
        text-transform: uppercase;
       }
    }
    .short-headline{
        font-size: fontSize(fontSize18);
        line-height: 20px;
        font-family: fontFamily(gilroySemiBold);
        font-weight: 600;
        color: primaryColor(lighttealColor);
        display: block;
        letter-spacing: 3px;
        @include smMax {
          font-size: fontSize(fontSize16);
          line-height: 20px;
          letter-spacing: 2.67px;
        }
    }
    p.short_des{
      font-size: fontSize(fontSize24);
      line-height: 50px;
      font-family: fontFamily(gilroyRegular);
      color: primaryColor(whiteColor);
      position: relative;
      @include smMax {
        font-size: fontSize(fontSize18);
        line-height: 36px;
        
      }
    }
    .newsletter_version{
      li{
        font-size: fontSize(fontSize24);
        line-height: 50px;
        font-family: fontFamily(gilroyRegular);
        color: primaryColor(whiteColor);
        display: inline-block;
        padding: 0 25px;
        position: relative;
        @include smMax {
          font-size: fontSize(fontSize18);
          line-height: 36px;
          
          
        }
        &:after{
          content: '';
          border-right: 1px solid #fff;
          width: 2px;
          height: 22px;
          display: inline-block;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -8px;
          @include smMax {
            height: 16px;
            
          }
        }
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0px;
          &::after{
            display: none;
          }
        }
      }
    }
  }
  &.banner_img_industry{
    .newsletter_version{
      margin-top: 11px;
    }
    .short-headline{
      letter-spacing: 2.5px;
      font-size: 15px;
      padding-top: 6px;
      @include smMax {
        font-size: 16px;
        letter-spacing: 2.67px;
        padding-top: 10px;
      }
    }
     .banner_img_desc_wrap {
      .newsletter_version {
        li{
          @include smMax {
            font-size: 22px;
            line-height: 36px;
          }
        }
      }
     }
  }
}
/**banneroverlay css start here**/
.show-arrow{
  display: none;
  @include smMax {
   display: block;
   width: 25px;
  height: 8px;
  content: "";
  background: url(../../images/icon-arrow-black.png) no-repeat;
  position: absolute;
  top: 6px;
  left: 15px;
  }
}
.transparentOverlay{
  height: 100vh;
  width:100%;
  overflow: hidden;
  &:before{
    content: '';
    width:100%;
    height: 100vh;
    background-blend-mode: normal, screen;
    background: rgba(101, 49, 143, 0.3);
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 27%, rgba(36, 45, 72, 0.6)),
     linear-gradient(to left, rgba(16, 64, 130, 0.75), rgba(101, 49, 143, 1), 0%);
    position: absolute;
    top: 0;
    left: 0;
}
}
/**back_to_careers css start here**/
.show-arrow{
  width: 25px;
  height: 8px;
  content: "";
  background: url(../../images/icon-arrow-black.png) no-repeat;
  position: absolute;
  top: 6.5px;
  left: 15px;
}
.back_to_careers {
  display: block;
  margin: 60px 0 110px 0;
  @include smMax {
    margin: 45px 0 45px 0;
  }
  a {
    font-size: fontSize(fontSize16);
    font-family: fontFamily(gilroySemiBold);
    letter-spacing: 2.67px;
    color: primaryColor(blackColor);
    line-height: 20px;
    
    display: inline-block;
    vertical-align: top;
    @include smMax {
      font-size: fontSize(fontSize14);
      padding-left: 38px;
    }
    &:before {
      width: 0px;
      height: 8px;
      content: "";
      background: url(../../images/icon-arrow-black.png) no-repeat;
      opacity: 1;
      display: inline-block;
      margin: 0;
      @include lgMax{
        // width: 20px;
        // margin-right: 10px;
        // position: relative;
        // top: -1px;
      }
      @include smMax {
        // margin-left: 25px;
      }

      -webkit-transition: all .3s;
      -moz-transition:    all .3s;
      -o-transition:      all .3s;
      -ms-transition:     all .3s;
      transition:         all .3s;
     
      
    }
    &:hover{
      &:before {
        margin: 0 10px 0px 0;
        width:30px;
        transition: 1s;
      }
     
    }
  }
}
/**career_description css start here**/
.career_description {
  margin-top: 90px;
  margin-bottom: 190px;
  @include smMax {
    margin-top: 0px;
    margin-bottom: 135px;
    padding-left: 15px;
  }
  .content {
    @include smMax {
      // width: 100%;
      font-size: fontSize(fontSize42);
    }
    h3 {
      color: primaryColor(blackColor);
      padding: 0px 0 65px 0;
      @include smMax {     
        font-size: fontSize(fontSize34);
        padding: 0px 0 50px 0;
      }
    }
    span{
      color: primaryColor(greyColor);
      font-size: fontSize(fontSize16);
      font-family: fontFamily(gilroySemiBold);
      line-height: 20px;
      font-weight: 600;
      text-transform: uppercase;
      display: block;
      letter-spacing: 1.6px;
      @include smMax {
        font-size: fontSize(fontSize14);
        margin-bottom: 8px;
      }
    }
    p{
      color: primaryColor(blackColor);
      font-size: fontSize(fontSize30);
      line-height: 50px;
      display: block; 
      font-weight: normal;
      @include smMax {
        font-size: fontSize(fontSize22);
        line-height: 28px;
      }
    }
    ul {
      li {
        padding: 28px 0 21px;
        border-bottom: primaryColor(greyColor) 1px solid;
        &:first-child{
          padding-top: 0px;
        }
        @include smMax {
          padding:28px 0 21px;
        }
      }
    }
  }
}
/**career_content_section css start here**/
.text-content-style{
  h4{
    font-size: fontSize(fontSize34);
    line-height: 1.2;
    color: primaryColor(blackColor);
    font-family: fontFamily(quartoRegular);
    margin-bottom: 30px;
    @include smMax {
      font-size: fontSize(fontSize24);
      margin-bottom: 40px;
    }
  }
  p{
    font-family: gilroylight;
    font-size: fontSize(fontSize24);
    line-height: 50px;
    color: primaryColor(lbrown);
    margin-bottom: 50px;
    @include mdMinMax{
      font-size: fontSize(fontSize20);
      line-height: 38px;
    }
    @include smMax {
      font-size: fontSize(fontSize18);
      line-height: 36px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  .career-content-row{
    @include smMax {
      margin-top:0px!important;
      padding-top: 0px!important;
    }
  }
  ul{
    list-style: none;
    li {
     
      font-family: fontFamily(gilroylight);
      font-size: fontSize(fontSize24);
      line-height: 50px;
      color: primaryColor(greyColor);
      padding-left: 23px;
      position: relative;
      margin-bottom: 0px;
      @include mdMinMax{
        font-size: fontSize(fontSize20);
        line-height: 38px;
      }
      @include smMax {
        font-size: fontSize(fontSize18);
        line-height: 36px;
        margin-bottom: 10px;
      }
      &:before {
          content: "";
          background-color: primaryColor(lighttealColor);
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
          top: 22px;
          left: 0;
          @include mdMinMax{
            top: 15px;
          }
          @include smMax {
            top: 13px;
          }
      }
      &:last-child{
        margin-bottom: 0px;
      }
    }
  }
  h3{
    color: primaryColor(blackColor);
    margin-bottom: 60px;
    
    @include smMax {
      font-size: fontSize(fontSize34);
      line-height: 44px;
      margin-bottom: 50px;
    }
  }
  .black{
    color: primaryColor(blackColor);
  }
  &.text-content-style-white{
     h3,h4,p,ul li,.subHead{
      color: primaryColor(whiteColor);
     }
  }
}




