.service_detail_hero{
   padding-top:100px ;
   @include smMax{
    padding-top:53px ;
    padding-bottom: 121px;
   }
  .back_to_careers{
     margin-top: 70px;
     margin-bottom: 98px;
     @include smMax{
      margin-top: 50px;
      margin-bottom: 112px;
     }
     a{
       text-transform: uppercase;
     }
  }
  h1{
    padding-top: 0px;
    padding-bottom: 43px;
  }
  .hero_sub_head{
        font-family: fontFamily(gilroySemiBold);
        font-size: fontSize(fontSize18);
        line-height: 36px;
        color: primaryColor(blackColor);
        letter-spacing: 3px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 19px;
        @include smMax{
          font-size: fontSize(fontSize16);
          letter-spacing: 2.67px;
          margin-bottom: 12px;
        }
  }
}