.team_content{
  position: relative;
  margin-top: 180px;
  &.mar0{
    margin-top: 0;
  }
  @include smMax {
    margin-top: 0;
  }
  .bottom_bg_color{
    width: 100%;
    height: 130px;
    background: primaryColor(blackColor);
    position: absolute;
    bottom: 0;
    left: 0;
    @include smMax{
      height: 90px;
    }
  }
}
#viewContainer{
  height: 780px; overflow: hidden; position: relative;
  @include smMax{
    height: 573px;
  }
}
#draggable{
  width: 2100px;
  top: 260px;
  @include smMax{
    width: 1161px;
    padding-left: 15px;
  }
}

.team_right_con{
  width: 1570px;
  overflow: hidden;
  @include smMax{
    width: 100%;
    overflow: auto;
  }
  cursor: grab;
  .team_right{
    @include smMax{
      width:1146px;
    }
    .team_mem_con {
      width: 260px;
      height: 260px;
      background-color: #ddd;
      border-radius: 50%;
      float: left;
      overflow: hidden;
      position: relative;
      @include smMax{
        width: 191px;
        height: 191px;
      }
      &::after{
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-blend-mode: screen;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
        opacity: 0;
        transition: all 0.5s;
      }
      &:hover{
        &::after{
          opacity: 1;
        }      
      }
    }
  }
}
body{
  &.team_moving_start{
    .team_right_con{
      cursor: grabbing;
      .team_right{
        .team_mem_con{
          .team_mem{
            transition: all .2s ease-in-out;
            transform: scale(0.8);
          }
        }
      }
    }
  }
  &.team_moving_stop{
    .team_right_con{
      cursor: grabbing;
      .team_right{
        .team_mem_con{
          .team_mem{
            transition: all .2s ease-in;
            transform: scale(1);
          }
        }
      }
    }
  }
}
.team_info{
  width: 1096px;
  height: calc(100% - 50px);
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  margin: auto;
  z-index: 9999;
  display: none;
  @include lgMax{
    width: calc(100% - 54px);
  }
  @include smMax{
    width: calc(100% - 54px);
    height: 100%;
  }
  & .team_info_content{
    height: 100%;
    & .slick-list{
      height: 100%;
      & .slick-track{
        height:100%;
      }
    }
    &.team-bios-open{
      background: #fff;
      .team_modal_right_img{
        width: 100%!important;
        opacity: 1!important;
      }
    }
  }
  .custom_team_arrows{
       li{
        width: 40px;
        height: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        text-align: center;
        margin: auto;
        cursor: pointer;
        &.team_next{
          right: -80px;
        }
        &.team_pre{
          left: -80px;
          transform: rotate(180deg);
        }
        &:hover{
          img{
            opacity: 0;
          }
        }
      }
  }
  .close_team{
    position: absolute!important;
    top: 15px!important;
    left: calc(100% - 47px)!important;
    z-index: 1;
    display: none;
    cursor: pointer;
      width: 25px;
      height: 25px !important;
    @include lgMax{
      left: 100%!important;
    }
  }
  .team_modal_left{
    padding: 50px 45px 15px;
    overflow: auto;
    //height: calc(100% - 70px);
    height: 730px;
    background: #fff;
    position: relative;
    top: 100px;
    opacity: 0;
    // & .team_bios_con{
    //   position: relative;
    //   top: 100px;
    // }
    @include smMax{
      height: 265px;
      padding: 25px 30px 15px;
    }
    h3{
      color: primaryColor(blackColor);
      line-height: 1.2;
      text-transform: capitalize;
      @include smMax{
        font-size: fontSize(fontSize34);
      }
    }
    h4{
      font-size: fontSize(fontSize34);
      color: primaryColor(blackColor);
      padding: 30px 0;
      font-family: fontFamily(quartoRegular);
      @include smMax{
        padding: 30px 0 0;
      }
    }
    span{
      font-family: fontFamily(gilroySemiBold);
      color: primaryColor(greyColor);
      font-size: fontSize(fontSize18);
      letter-spacing: 3px;
      text-transform: uppercase;
      padding: 15px 0 10px;
      display: block;
      @include smMax{
        font-size: fontSize(fontSize14);
      }
    }
    ul.social_icon_team{
      padding-bottom: 15px;
      li{
        display: inline-block;
        margin-right: 7px;
        a{
          display: block;
        }
      }
    }
    p{
      font-family: fontFamily(gilroylight);
      color: primaryColor(greyColor);
      font-size: fontSize(fontSize24);
      line-height: 2.08;
      @include smMax{
        font-size: fontSize(fontSize18);
        line-height: 2;
      }
    }
  }
  .team_modal_right{
    // height: calc(50% - 70px);
    height: 730px;
    overflow: hidden;
    position: relative;
    @include smMax{
      height: 307px;
    }
    .team_modal_right_img{
      width: 100%;
      height: 100%;
      margin:auto;
      transition: all 0.8s;
      opacity: 0;
      background: #d8d8d8;
      img{
        width: 100%;
        height: 100%!important;
        object-fit: cover;
        @include smMax{
          object-position: 0 0;
        }
      }
    }
  }
}
.white_opa{
  width: 100%; 
  height: 100%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  background: rgba(255,255,255,0.5); 
  display: none;
  z-index: 998;
}

.container.width100{
  max-width: inherit;
  width: 100%;
  transition: all 1s;
}
#teamConLeft{
  h3{
    width: 230px;
    color: primaryColor(blackColor);
    padding-top: 75px;
    display: block;
    margin: 0 auto;
    @include smMax{
      width: 100%;
      padding: 0 15px 60px;
      font-size: fontSize(fontSize34);
      display: none;
    }
  }
}

.phoneOrder2{
  @include smMax{
    order: 2;
  }
}
.phoneOrder1{
  @include smMax{
    order: 1;
  }
}
.forPhoneHi{
  @include smMax{
    width: 100%;
    padding: 70px 0 60px;
    font-size: fontSize(fontSize34);
    color: primaryColor(blackColor);
    background: #fff;
  }
}
.imageReplaced{
  & img:last-child{
    display: none;
  }
}
.post_from{
  li{
    padding: 15px 0;
    border-bottom: 1px solid #979797;
    font-size: fontSize(fontSize24);
    line-height: 2.08;
    font-family: fontFamily(gilroyMedium);
    color: primaryColor(greyColor);
    @include smMax{
      font-size: fontSize(fontSize18);
      line-height: 2;
    }
    a{
      font-family: fontFamily(gilroyMedium);
      color: primaryColor(greyColor);
      font-size: fontSize(fontSize24);
      @include smMax{
        font-size: fontSize(fontSize20);
      }
    }
  }
}
.team_slide{height: 100%;
    @include smMax{
        .col-sm-6{flex: 0 0 100%; max-width: 100%;}
    }
}
.slick-slide.slick-current{
  & > div{
    height: 100%;
  }
}

@keyframes imageOnebyOne {
  from { opacity: 0; }
  to   { opacity: 1; }
}